.Card{
  border:1px solid hsl(0, 0%, 80%);
  border-radius: 12px;
  box-shadow: 5px 5px 40px hsla(0, 36%, 5%, 0.578);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding:20px;
  margin: 10px;
  text-align: center;
  max-width:250px;
  display: inline-block;
  background-color: rgba(201, 191, 179, 0.249);
}
.Card #profile{
    width:90px;
    height: 90px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    box-shadow: 10px 10px 20px rgba(105, 155, 105, 0.453);
}
.Card #name{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#6a31319a;
  text-shadow: 0px 0px 70px #d0e1dafa
}